@import 'tailwindcss';

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .animate-flip {
        animation: flip 6s infinite steps(2, end);
    }

    .animate-kitrotate {
        animation: kitrotate 3s linear infinite both;
    }

    @keyframes flip {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes kitrotate {
        to {
            transform: rotate(90deg);
        }
    }
}
